---
import Header from "../Components/Header.astro";
import LoginTopbar from "../components/Login_topbar.astro";
import CardRow from "../components/Card_row.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main>
      <LoginTopbar />
      <div>
        <CardRow />
        <CardRow />
      </div>
    </main>
  </body>
</html>
