---
import LitleLogo from "./Litle_logo.astro";
---

<section>
  <LitleLogo />
  <img src="#" alt="album_billede" />
  <div>
    <h2>Playliste Navn</h2>
    <p>Beskrivelse</p>
  </div>
  <!-- <div class="hover_card">
    <img src="#" alt="Play_icon" />
  </div> -->
</section>
