---
import Button from "./Button.astro";
---

<div>
  <a href="#"><img src="#" alt="Arrow_back" /></a>
  <div>
    <Button variant="secondary" size="medium" set:text="Sign up" />
    <Button variant="primary" size="medium" set:text="Log in" />
  </div>
</div>
