---
---

<nav>
  <ul class="standart">
    <li><a href="#"><img src="#" alt="House_icon" /> Home</a></li>
    <li><a href="#"><img src="#" alt="Loop_icon" /> Search</a></li>
    <li><a href="#"><img src="#" alt="Books_icon" /> Your Libary</a></li>
  </ul>
  <ul class="personlig">
    <li><a href="#"><img src="#" alt="Add_icon" /> Create playlist</a></li>
    <li><a href="#"><img src="" alt="Heart_icon" /> Liked Songs</a></li>
  </ul>
</nav>
